/* Element CSS Definitions for (MultiRow-)tables
if theme changes are needed include a table.css in the /themes/yourtheme/ */
.listMR {
	background-color: #DDD;
	font-size: 11px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.listMRlr {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 11px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listMRr {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listMRodd {
	background-color: #FFFFFF;
}
.listMReven {
	background-color: #F0F0F0;
}
.listMRDescriptionL {
	border-right: none;
	border-bottom: 2px solid #999999;
}
.listMRDescriptionR {
	border-left: none;
	border-bottom: 2px solid #999999;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}
