.DS_Store
_notes/
/tmp/
/logs/
/build.conf
# Ignore Vim swap files
.*.swp
upload.sh
# eclipse
.buildpath
.project
.settings/
# PhpStorm
.idea
*.php-e
.zanata-cache
# Composer
src/usr/local/pfSense/include/www/vendor/
