/* Element CSS Definitions */
html, body, td, th, input, select {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}
form {
	margin: 0px;
}
a {
	text-decoration: none;
}
form input {
	font-size: 1.1em;
}



/* ID Based CSS Definitions */

#notices {
	width: 795px;
	background-color: #E1E4B8;
	border: 1px solid #000000;
	padding: 0px;
	margin-bottom: 5px;
}
#notices ul {
	margin: 0px;
	padding: 5px;
	padding-top: 3px;
	list-style: none;
}

#header {
	height: 70px;
	width: 800px;
}
#header-left {
	position: relative;
	background: url('images/logo.gif') no-repeat;
	background-position: center;
	height: 65px;
	width: 145px;
	left: 10px;
	float: left;
	background-color: #fff;
}
#header-right {
	position: relative;
	background: url('images/header.gif') no-repeat;
	height: 70px;
	color: #fff;
	left: 0px;
	margin-left: 165px;
}
#header-right .alert {
	position: relative;
	/* background: url('images/alert.gif') no-repeat; */
	background-position: 4px 2px;
	color: #fff;
	height: 17px;
	width: 500px;
	padding: 4px;
	padding-left: 27px;
	float: left;
}

#header-right .container .left {
	position: relative;
	top: 32px;
	left: 9px;
	font-size: 1.8em;
}

#header-right .container .right {
	position: relative;
	float: right;
	top: -9px;
	padding-right: 4px;
	z-index: 1;
}

#header-right .container .right #alerts {
	position: relative;
	background: url('images/alert_bgr.gif') no-repeat;
	height: 39px;
	width: 431px;
	z-index: 1;
	padding-top: 20px;
	padding-left: 5px;
	margin: 0px;
}
#header-right .container .right #hostname {
	position: relative;
	height: 39px;
	width: 431px;
	z-index: 1;
	padding-left: 5px;
	margin: 0px;
	top: 25px;
	left: 230px;
}



table#marquee {
	position: relative;
	top: -6px;
	left: -5px;
	border: 0;
	padding: 0;
	margin: 0;
	width: 424px;
	background-color: transparent;
	padding: 2px;
	border: 0px;
}
span#marquee-container {
	position: absolute;
	visibility: hidden;
	top: -100px;
	left: -10000px;
}
div#marquee-text {	
	font-size: 1.18em;
	font-weight: bold;
	font: Verdana;
}
table#marquee div#container {
	position: relative;
	overflow: hidden;
	width: 418px;
	height: 20px;
}
table#marquee div#container div#scroller {
	position: absolute;
	left: 0px;
	top: 0px;
}








#content {
	border-top: 1px solid #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
	width: 800px;
}

#footer {
	position: relative;
	top: 10px;
	padding: 0px;
	margin: 6px;
	width: 800px;
	background-color: #990000;
	text-align: center;
	color: #ffffff;
	font-size: 0.75em;
	clear: both;
	margin-bottom: 20px;
}
#footer p {
	padding: 0px;
	margin: 0px;
}

#left {
	width: 150px;
	float: left;
}
#right {
	/*margin-left: 171px;*/
	margin-left: 170px;
	margin-top: 5px;
	width: 620px;
}



#navigation {
	position: relative;
	background-color: #000000;
	top: 0px;
	left: 5px;
	width: 157px;
	padding-top: 6px;
	margin-left: 1px;
	color: #fff;
	padding-bottom: 6px;
	padding-right: 0px;
}

#navigation ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#navigation ul li { 
	display: block;
	padding-left: 10px;
}

#navigation ul li div {
	margin-top: 2px;
}

#navigation ul li div {
	font-weight: bold;
}

#navigation ul li div .small,
#navigation ul li div .small:hover {
	font-weight: normal;
	font-size: 0.79em;
}

#navigation ul li a {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	height: 1.2em;
	line-height: 1.2em;
	color: #fff;
	text-decoration: none;
	width: 61px;
	font-size: 0.9em;
	text-align: center;
}

#navigation ul li a:hover {
	color: #fff;
	text-decoration: underline;
	font-size: 0.9em;
}



/* Class Based CSS Definitions */
.pgtitle {
	font-size: 18px;
	color: #777777;
	font-weight: bold;
}
.tfrtitle {
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
}
.vncell {
	background-color: #DDDDDD;
	padding-right: 20px;
	padding-left: 8px;
	border-bottom: 1px solid #999999;
}
.formfld {

}
.formfldalias {
	background-color: #990000;
	color: #FFFFFF;
}
.formpre {
	font-family: Courier New, Courier, monospaced;
	font-size: 10px;
}
.formbtn {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.formbtns {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.vvcell {
	background-color: #FFFFC6;
}
.errmsg {
	font-weight: bold;
	color: #CC0000;
}
.red {
	color: #CC0000;
}
.gray {
	color: #A0A0A0;
}
.vexpl {
	font-size: 11px;
}
.navlnk {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
}
.navlnks {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}
.tblnk {
	color: #FFFFFF;
	text-decoration: none;
}
.vncellreq {
	background-color: #DDDDDD;
	padding-right: 20px;
	padding-left: 8px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
}
.vncellt {
	background-color: #DDDDDD;
	padding-right: 20px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
}
.vtable {
	border-bottom: 1px solid #999999;
}
.vnsepcell {
	background-color: #BBBBBB;
	padding-right: 20px;
	padding-left: 8px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	font-size: 11px;
}
.cpline {
	font-size: 11px;
	color: #FFFFFF;
}
.hostname {
	font-size: 11px;
	color: #FFFFFF;
}
.vnsepcellr {
	background-color: #BBBBBB;
	padding-right: 20px;
	padding-left: 8px;
	font-weight: bold;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
}
.listr {
	background-color: #FFFFFF;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listrpad {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-right: 16px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.listn {
	font-size: 11px;
	padding-right: 16px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listbg {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	background-color: #990000;
	padding-right: 16px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listbggrey {
	border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
        font-size: 11px;
        background-color: #999999;
        padding-right: 16px;
        padding-left: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
}
.listhdr {
	background-color: #BBBBBB;
	padding-right: 16px;
	padding-left: 6px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.listhdr a {
	color: #000000;
}
.listhdrr {
	background-color: #BBBBBB;
	padding-right: 16px;
	padding-left: 6px;
	font-weight: bold;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.listhdrr a {
	color: #000000;
}
.listlr {
	background-color: #FFFFFF;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 11px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listlrns {
	background-color: #FFFFFF;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.list {
	font-size: 11px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.listt {
	font-size: 11px;
	padding-top: 5px;
}
.listhdrrns {
	background-color: #BBBBBB;
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 6px;
	font-weight: bold;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
}
.listbgns {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	background-color: #D9DEE8;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listtopic {
	border-right: 1px solid #999999;
	font-size: 11px;
	background-color: #990000;
	padding-right: 16px;
	padding-left: 6px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.optsect_t {
	border-right: 1px solid #999999;
	background-color: #990000;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.optsect_s {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.tabnavtbl {
}


/* MISC CSS Definitions */
ul#tabnav {
	font-size: 11px;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul#tabnav li.tabinact1 {
	float: left;
	background-color: #777777;
	color: #FFFFFF;
	padding: 0;
	white-space: nowrap;
}
ul#tabnav li.tabinact {
	float: left;
	border-left: 1px solid #999999;
	background-color: #777777;
	color: #FFFFFF;
	padding: 0;
	white-space: nowrap;
}
ul#tabnav li.tabinact a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 5px 8px 5px 8px;
	color: #FFFFFF;
}
ul#tabnav li.tabinact1 a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 5px 8px 5px 8px;
	color: #FFFFFF;
}
ul#tabnav li.tabact {
	float: left;
	background-color: #EEEEEE;
	color: #000000;
	padding: 5px 8px 5px 8px;
	white-space: nowrap;
}
.tabcont {
	background-color: #EEEEEE;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.tabact {
	float: left;
	background-color: #EEEEEE;
	color: #000000;
	padding: 5px 8px 5px 8px;
	white-space: nowrap;
}
.tabinact {
	font-weight: bold;
	float: left;
	border-left: 1px solid #999999;
	background-color: #777777;
	color: #FFFFFF;
	padding: 0;
	white-space: nowrap;
}
.menu {
	background-color: #000000;
	white-space: nowrap;
	padding: 0px 5px 0px 5px;
	width: 100%;
	vertical-align: top;
}


/* Auto Complete Suggestions */
div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
	background-color: #990000;
	color: #FFF;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
	background-color: #990000;
	color: #FFF;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: #FFF;
}
/* End Auto Complete Suggestions */



/* Nifty Corners Crap */
.rtop,.artop{display:block}
.rtop *,.artop *{display:block;height:1px;overflow:hidden;font-size:1px}
.artop *{border-style: solid;border-width:0 1px}
.r1,.rl1,.re1,.rel1{margin-left:5px}
.r1,.rr1,.re1,.rer1{margin-right:5px}
.r2,.rl2,.re2,.rel2,.ra1,.ral1{margin-left:3px}
.r2,.rr2,.re2,.rer2,.ra1,.rar1{margin-right:3px}
.r3,.rl3,.re3,.rel3,.ra2,.ral2,.rs1,.rsl1,.res1,.resl1{margin-left:2px}
.r3,.rr3,.re3,.rer3,.ra2,.rar2,.rs1,.rsr1,.res1,.resr1{margin-right:2px}
.r4,.rl4,.rs2,.rsl2,.re4,.rel4,.ra3,.ral3,.ras1,.rasl1,.res2,.resl2{margin-left:1px}
.r4,.rr4,.rs2,.rsr2,.re4,.rer4,.ra3,.rar3,.ras1,.rasr1,.res2,.resr2{margin-right:1px}
.rx1,.rxl1{border-left-width:5px}
.rx1,.rxr1{border-right-width:5px}
.rx2,.rxl2{border-left-width:3px}
.rx2,.rxr2{border-right-width:3px}
.re2,.rel2,.ra1,.ral1,.rx3,.rxl3,.rxs1,.rxsl1{border-left-width:2px}
.re2,.rer2,.ra1,.rar1,.rx3,.rxr3,.rxs1,.rxsr1{border-right-width:2px}
.rxl1,.rxl2,.rxl3,.rxl4,.rxsl1,.rxsl2,.ral1,.ral2,.ral3,.ral4,.rasl1,.rasl2{border-right-width:0}
.rxr1,.rxr2,.rxr3,.rxr4,.rxsr1,.rxsr2,.rar1,.rar2,.rar3,.rar4,.rasr1,.rasr2{border-left-width:0}
.r4,.rl4,.rr4,.re4,.rel4,.rer4,.ra4,.rar4,.ral4,.rx4,.rxl4,.rxr4{height:2px}
.rer1,.rel1,.re1,.res1,.resl1,.resr1{border-width:1px 0 0;height:0px !important;height /**/:1px}