SHELL=/bin/sh
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin
HOME=/var/log
#minute hour    mday    month   wday    who             command
*/5	*	*	*	*	root	        /usr/bin/nice -n20 /usr/libexec/atrun
*/11	*	*	*	*	operator	/usr/bin/nice -n20 /usr/libexec/save-entropy
0	*	*	*	*	root	        /usr/bin/nice -n20 newsyslog
1	3	*	*	*	root	        /usr/bin/nice -n20 periodic daily
15	4	*	*	6	root	        /usr/bin/nice -n20 periodic weekly
30	5	1	*	*	root	        /usr/bin/nice -n20 periodic monthly
1,31	0-5	*	*	*	root	        /usr/bin/nice -n20 adjkerntz -a
1	*	1	*	*	root	        /usr/bin/nice -n20 /etc/rc.update_bogons.sh
*/60	*	1	*	*	root	        /usr/bin/nice -n20 /usr/local/sbin/expiretable -v -t 3600 sshlockout
1       2       *       *       *       root            /usr/bin/nice -n20 /etc/rc.dyndns.update
