SHELL=/bin/sh
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin
HOME=/var/log
#minute hour    mday    month   wday    who             command
0		*	*	*	*	root		/usr/bin/nice -n20 newsyslog
1,31	0-5	*	*	*	root		/usr/bin/nice -n20 adjkerntz -a
1		*	1	*	*	root		/usr/bin/nice -n20 /etc/rc.update_bogons.sh
*/60	*	*	*	*	root		/usr/bin/nice -n20 /usr/local/sbin/expiretable -v -t 3600 sshlockout
1		1	*	*	*	root		/usr/bin/nice -n20 /etc/rc.dyndns.update
*/5		*	*	*	*	root		/usr/bin/nice -n20 /etc/ping_hosts.sh
*/60	*	*	*	*	root		/usr/bin/nice -n20 /usr/local/sbin/expiretable -v -t 3600 virusprot
*/60	*	*	*	* 	root		/usr/local/sbin/expiretable -t 1800 snort2c
