html, body {
    height: 100%;
}

.cont {
    height: 100%;
    background: #1e3f75;
    color: white;
}

.logoRow {
    height: 100%;
    background: #1e3f75;
}

.logoCol {
    height: 100%;
    background: #1e3f75;
}

.loginCont {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 55%;
    width: 80%;
    background: #1e3f75;
}

.logoCont {
    position: absolute;
    top: 40%; left: 60%;
    transform: translate(-50%,-50%);
    height: 55%;
    width: 80%;
    background: #1e3f75;
}

.list-group{
	    background: #1e3f75 !important;
	    color: white !important;
}

.list-group-item {
	    background: #1e3f75 !important;
	    color: white !important;
	    border: none;
	    font-weight: 200;
}

.list-group-item-heading {
	    color: white !important;
	    font-weight: 350 !important;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p.rsstitle {
	font-size: 30px;
	font-weight: 150;
	color: #ffffff;
}

form.login
{
    width: 300px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 60%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 36px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
                display: block;
             margin : 0 auto;
    margin-top: 36px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #212121;
    padding-top: 10px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 60px; */
}
